{% extends "base.html" %}

{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{url_for('static',filename='img/admin_bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Admin Panel</h1>
            <span class="subheading">Manage Your Posts and Change Them</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1>Basic Actions</h1>
        <hr>
        <a href ="/edit/add_post"><button class="btn btn-primary">Add a New Post </button></a>
        <a href ="/logout"><button class="btn btn-primary">Log Out </button></a>

        <hr>
        <h1>File Uploader</h1>
      <form action='/uploader'method='post'  enctype="multipart/form-data">
        <input type="File" name="file1" >
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
        <hr>
        <h1> Edit Posts </h1>

       <table class="table">
          <thead>

            <tr>
              <th>Post Id</th>
              <th>Heading</th>
              <th>Date</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>

          <tbody>
            {% for row in posts%}
              <tr>
                <td>{{row['post_id']}}</td>
                <td>{{row['title']}}</td>
                <td>{{row['date']}}</td>
                <td><a href="/edit/{{row['slug']}}"><button class="btn btn-primary">Edit</button></a></td>
                <td><a href="/delete/{{row.slug}}"<button class="btn btn-primary">Delete</button></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>

{% endblock %}
